		body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer{margin:0;padding:0;}
		a { text-decoration:none;}
		em{font-style:normal}
		ul  { list-style: none; }
		.stepone{
			position: absolute;
			bottom: 8.333rem;
			left: 1.458rem;
			padding:2.083rem 1.875rem;
			width: 25.25rem;
			border-radius:.416rem;
			background-color: #ffffff;
		}
		.stepone-hder{
			color: #2B2B2B;
			font-size:1.375rem;
			border-bottom: 1px dashed #0B0306;
			padding-bottom:1.25rem; 
		}
		.stepone .guize{
			font-size:1rem;
			font-weight:bold;
		}
		.stepone .guize-c{
			font-size:1rem;
			display: inline;
			font-weight:normal;
		}
		.stepone-mid{
			padding-left: 1.25rem;
			padding-top: 1.25rem;
		}
		.stepone-mid-o{
			
			color: #2B2B2B;
			font-size:.875rem;
			font-style:bold; 
			margin-bottom: 1.041rem;
		}
		.stepone-mid-t{
			border: 1px solid #bababa;
			border-radius:.416rem; 
			padding:.3rem; 
		}
		.stepone-mid-t>article{
			display: none;
		}
		.stepone-ptcl>span{
			color: #0863C0;
			font-size:1rem; 
			line-height: .75rem;
		}
		.stepone-ptcl>input{
			color: #0863C0;
		}

		.stepone-mid-t>article>p{
			color: #2B2B2B;
			font-size:1rem; 
			padding-top: 1rem;
		}
		.stepone-btn{
			color: #ffffff;
			font-size:1.291rem; 
			display: block;
			width: 25rem;
			height: 3.125rem;
			background-color:#E32828; 
			margin:1.25rem auto;
			border-radius:.416rem; 
			text-align: center;
			border: 0 none;
		}
		.stepone .close{
			background:url(../images/close.jpg) center no-repeat; 
			-webkit-background-size: 100% 100%;
			background-size: 80% 80%;
			float: right;
			display: inline-block;
			width: 1.7rem;
			height: 1.7rem;
			cursor:pointer;
		}
		.yuedu{
			text-align: center;
			margin:0 auto;
			color: red;
			font-size:.75rem; 
			display: none;
		}